html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width:100%;
    min-height :100vh;
    display: flex;
    flex-direction: column;
    gap: 0;

}
nav{
    top: 0;
    position:sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(1, 100, 180);
    padding: 18px;
    z-index: 1;
}


.about-section{
    width: 100%;
    display: table;
    position: relative;
    margin: 0;
   
    
}

.header-svg-container{
    display: table-row;
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0;
    z-index: -1;
    
}

.polygon-about{
    margin: 0;
    
    
}
.about-content{
    position:relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    max-width: 100%;
    min-height: 20%;
    margin:-45% 5% 0 5% ;
    gap:0;
    animation: 3s gap 1 ;
}
@keyframes gap {
    from {gap:30%}
    to {gap:0}
}

.about-photo-container{
    border:1px black solid;
    padding: 0;
    position:relative;
    max-width: 40%;
    max-height: 20%;
    
}

.about-photo{
    max-width: 100%;
    display: block;
    min-height: 100%;
}

.about-text{
    box-sizing: border-box;
    background-color:white;
    border:1px black solid;
    position:relative;
    max-width: 50%;
    max-height: 15%;
    margin: 5% 0 ;
    padding: 2%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}
.about-text > h3{
    align-self: flex-start;
}

.about-text > p {
    align-self: flex-end;
}
.about-icons{
    display: flex;
    flex-direction: row;
    align-self:flex-end;
    gap:5px;
}
.about-icons >img {
    width: 36px;
    height: 36px;
    color:red;
    transition: transform 1s 0.25s;
}
.about-icons >img:hover{
    cursor: pointer;
    width: 40px;
    height: 40px;
    transform: rotate(1turn);
}

main{
    position: relative;
    margin: 4%;
    height: 400px;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.footer-svg-container{
    position: relative;
    z-index: -1;
}
.footer-content{
    z-index: 1;
    margin-bottom: -50%;
    padding:4%;
}

.address-footer , .phone-footer,.email-footer{
    display:flex;
    flex-direction: row;

}